body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1,
h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pago {
    background-color: #d4edda;
}

.pendente {
    background-color: #f8d7da;
}